@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
@if (Model.BirthDay != null)
{
   <li>@Model.BirthDay</li>
}
<li>Membership Type: @Model.MembershipType.Name</li>
</ul>

