
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    <table ="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Membership Type </th>
            </tr>
        </thead>
                <tbody>
        @foreach(var obj in Model.customers)
        {
            <tr>
                <td>@Html.ActionLink(obj.Name, "Edit", new { id = obj.ID})</td>
                <td>@obj.MembershipType.Name</td>
            </tr>    
        }
                    </tbody>
               
    </table>
}

